@font-face {
  font-family: SerifFont;
  font-style: normal;
  src: url("IosevkaArcane-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SerifFont;
  font-style: normal;
  src: url("IosevkaArcane-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SerifFont;
  font-style: italic;
  src: url("IosevkaArcane-Italic.ttf");
  font-weight: normal;
}

@font-face {
  font-family: SerifFont;
  font-style: italic;
  src: url("IosevkaArcane-BoldItalic.ttf");
  font-weight: bold;
}

@font-face {
  font-family: SerifFont;
  font-style: normal;
  src: url("IosevkaArcane-Condensed.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: SerifFont;
  font-style: normal;
  src: url("IosevkaArcane-CondensedBold.ttf");
  font-weight: bold;
  font-stretch: condensed;
}

@font-face {
  font-family: SerifFont;
  font-style: italic;
  src: url("IosevkaArcane-CondensedItalic.ttf");
  font-weight: normal;
  font-stretch: condensed;
}

@font-face {
  font-family: SerifFont;
  font-style: italic;
  src: url("IosevkaArcane-CondensedBoldItalic.ttf");
  font-weight: bold;
  font-stretch: condensed;
}
